.gmm-index-pos-1 {
    margin-left: -115px;
}

.gmm-index-pos-2 {
    margin-top: -25px;    
}

.gmm-index-pos-3 {
    margin-top: -55px; 
    margin-left: 205px; 
}

.gmm-index-pos-4 {
    margin-left: -70px; 
}

.gmm-index-pos-5 {
    margin-top: -25px; 
}

.gmm-index-pos-6 {
    text-align: right;
    margin-left: 65px;
    margin-top: -20px;
}

.gmm-index-pos-7 {
    text-align: right;
    margin-right: -72px;
    margin-top: -72px;
}

.gmm-index-pos-8 {
    margin-left: -130px;
}

.gmm-index-pos-9 {
    margin-left: -60px;
}

.gmm-index-pos-10 {
    margin-left: 60px;
}

.gmm-index-pos-11 {
    text-align: center;
    margin-left: 100px;
}
